USE [master]
GO
/****** Object:  Database [ShoeStore]    Script Date: 11/3/2025 4:21:55 AM ******/
CREATE DATABASE [ShoeStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShoeStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\ShoeStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShoeStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\ShoeStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShoeStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShoeStore]
GO
USE [ShoeStore]
GO
/****** Object:  Sequence [dbo].[OrderSequence]    Script Date: 11/3/2025 4:21:56 AM ******/
CREATE SEQUENCE [dbo].[OrderSequence] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[logo] [varchar](255) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[cart_item_id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NOT NULL,
	[variant_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[added_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [unique_cart_item] UNIQUE NONCLUSTERED 
(
	[cart_id] ASC,
	[variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[parent_id] [int] NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[session_id] [int] NOT NULL,
	[sender_type] [varchar](20) NULL,
	[message_text] [nvarchar](max) NULL,
	[intent] [varchar](100) NULL,
	[entities] [nvarchar](max) NULL,
	[timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatSessions]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatSessions](
	[session_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[session_token] [varchar](255) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[ended_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[session_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[variant_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[order_code] [varchar](20) NOT NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[discount_amount] [decimal](10, 2) NULL,
	[shipping_fee] [decimal](10, 2) NULL,
	[final_amount] [decimal](10, 2) NOT NULL,
	[status] [varchar](50) NULL,
	[payment_method] [varchar](50) NULL,
	[payment_status] [varchar](50) NULL,
	[shipping_address] [nvarchar](500) NOT NULL,
	[shipping_phone] [varchar](20) NOT NULL,
	[shipping_name] [nvarchar](100) NOT NULL,
	[notes] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[confirmed_at] [datetime] NULL,
	[shipped_at] [datetime] NULL,
	[delivered_at] [datetime] NULL,
	[cancelled_at] [datetime] NULL,
	[cancel_reason] [nvarchar](500) NULL,
	[processed_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[order_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatusHistory]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatusHistory](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[old_status] [varchar](50) NULL,
	[new_status] [varchar](50) NOT NULL,
	[notes] [nvarchar](500) NULL,
	[changed_by] [int] NULL,
	[changed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[variant_id] [int] NULL,
	[image_url] [varchar](500) NOT NULL,
	[is_primary] [bit] NULL,
	[sort_order] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReviews]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[order_id] [int] NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](1000) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[base_price] [decimal](10, 2) NOT NULL,
	[category_id] [int] NOT NULL,
	[brand_id] [int] NOT NULL,
	[material] [nvarchar](100) NULL,
	[gender] [varchar](20) NULL,
	[product_type] [nvarchar](50) NULL,
	[status] [varchar](20) NULL,
	[view_count] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[variant_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[size] [varchar](10) NOT NULL,
	[color] [nvarchar](50) NOT NULL,
	[sku] [varchar](50) NULL,
	[price] [decimal](10, 2) NULL,
	[stock_quantity] [int] NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [unique_variant] UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[size] ASC,
	[color] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[promotion_id] [int] IDENTITY(1,1) NOT NULL,
	[promotion_code] [varchar](50) NOT NULL,
	[description] [nvarchar](500) NULL,
	[discount_type] [varchar](20) NULL,
	[discount_value] [decimal](10, 2) NULL,
	[min_order_amount] [decimal](10, 2) NULL,
	[max_discount_amount] [decimal](10, 2) NULL,
	[usage_limit] [int] NULL,
	[used_count] [int] NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[promotion_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[order_id] [int] NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[status] [varchar](255) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockMovements]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockMovements](
	[movement_id] [int] IDENTITY(1,1) NOT NULL,
	[variant_id] [int] NOT NULL,
	[movement_type] [varchar](20) NULL,
	[quantity] [int] NOT NULL,
	[reference_type] [varchar](50) NULL,
	[reference_id] [int] NULL,
	[notes] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[movement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[role] [varchar](20) NULL,
	[status] [varchar](20) NULL,
	[avatar] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[last_login] [datetime] NULL,
	[reset_token] [varchar](255) NULL,
	[reset_token_expires] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [cart_items_cart_id_variant_id]    Script Date: 11/3/2025 4:21:56 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [cart_items_cart_id_variant_id] ON [dbo].[CartItems]
(
	[cart_id] ASC,
	[variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_chat_session]    Script Date: 11/3/2025 4:21:56 AM ******/
CREATE NONCLUSTERED INDEX [idx_chat_session] ON [dbo].[ChatMessages]
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_chat_timestamp]    Script Date: 11/3/2025 4:21:56 AM ******/
CREATE NONCLUSTERED INDEX [idx_chat_timestamp] ON [dbo].[ChatMessages]
(
	[timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_orders_created]    Script Date: 11/3/2025 4:21:56 AM ******/
CREATE NONCLUSTERED INDEX [idx_orders_created] ON [dbo].[Orders]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_orders_status]    Script Date: 11/3/2025 4:21:56 AM ******/
CREATE NONCLUSTERED INDEX [idx_orders_status] ON [dbo].[Orders]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_orders_user]    Script Date: 11/3/2025 4:21:56 AM ******/
CREATE NONCLUSTERED INDEX [idx_orders_user] ON [dbo].[Orders]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_products_brand]    Script Date: 11/3/2025 4:21:56 AM ******/
CREATE NONCLUSTERED INDEX [idx_products_brand] ON [dbo].[Products]
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_products_category]    Script Date: 11/3/2025 4:21:56 AM ******/
CREATE NONCLUSTERED INDEX [idx_products_category] ON [dbo].[Products]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_products_status]    Script Date: 11/3/2025 4:21:56 AM ******/
CREATE NONCLUSTERED INDEX [idx_products_status] ON [dbo].[Products]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_products_type]    Script Date: 11/3/2025 4:21:56 AM ******/
CREATE NONCLUSTERED INDEX [idx_products_type] ON [dbo].[Products]
(
	[product_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_variants_product]    Script Date: 11/3/2025 4:21:56 AM ******/
CREATE NONCLUSTERED INDEX [idx_variants_product] ON [dbo].[ProductVariants]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_variants_stock]    Script Date: 11/3/2025 4:21:56 AM ******/
CREATE NONCLUSTERED INDEX [idx_variants_stock] ON [dbo].[ProductVariants]
(
	[stock_quantity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [product_variants_product_id_size_color]    Script Date: 11/3/2025 4:21:56 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [product_variants_product_id_size_color] ON [dbo].[ProductVariants]
(
	[product_id] ASC,
	[size] ASC,
	[color] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Brands] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Brands] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[ChatSessions] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[ChatSessions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [shipping_fee]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('COD') FOR [payment_method]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('unpaid') FOR [payment_status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[OrderStatusHistory] ADD  DEFAULT (getdate()) FOR [changed_at]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [view_count]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((0)) FOR [used_count]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[StockMovements] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('customer') FOR [role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([cart_id])
REFERENCES [dbo].[Carts] ([cart_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[ProductVariants] ([variant_id])
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD FOREIGN KEY([session_id])
REFERENCES [dbo].[ChatSessions] ([session_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatSessions]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[ProductVariants] ([variant_id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([processed_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[OrderStatusHistory]  WITH CHECK ADD FOREIGN KEY([changed_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[OrderStatusHistory]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[ProductVariants] ([variant_id])
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brands] ([brand_id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([category_id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[ProductVariants] ([variant_id])
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD CHECK  (([sender_type]='bot' OR [sender_type]='user'))
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([gender]='unisex' OR [gender]='female' OR [gender]='male'))
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD CHECK  (([discount_type]='fixed' OR [discount_type]='percentage'))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([status]=N'rejected' OR [status]=N'approved' OR [status]=N'pending'))
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD CHECK  (([movement_type]='adjust' OR [movement_type]='out' OR [movement_type]='in'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([role]='customer' OR [role]='staff' OR [role]='admin'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([status]='blocked' OR [status]='inactive' OR [status]='active'))
GO
/****** Object:  StoredProcedure [dbo].[CreateOrder]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure tạo đơn hàng
CREATE PROCEDURE [dbo].[CreateOrder]
    @UserId INT,
    @CartId INT,
    @ShippingAddress NVARCHAR(500),
    @ShippingPhone VARCHAR(20),
    @ShippingName NVARCHAR(100),
    @PaymentMethod VARCHAR(50),
    @Notes NVARCHAR(500) = NULL
AS
BEGIN
    BEGIN TRANSACTION;
    
    BEGIN TRY
        DECLARE @OrderId INT;
        DECLARE @OrderCode VARCHAR(20);
        DECLARE @TotalAmount DECIMAL(10,2);
        
        -- Tạo mã đơn hàng
        SET @OrderCode = 'ORD' + FORMAT(GETDATE(), 'yyyyMMdd') + 
                         RIGHT('0000' + CAST(NEXT VALUE FOR OrderSequence AS VARCHAR(4)), 4);
        
        -- Tính tổng tiền từ giỏ hàng
        SELECT @TotalAmount = SUM(pv.price * ci.quantity)
        FROM CartItems ci
        JOIN ProductVariants pv ON ci.variant_id = pv.variant_id
        WHERE ci.cart_id = @CartId;
        
        -- Tạo đơn hàng
        INSERT INTO Orders (user_id, order_code, total_amount, final_amount, 
                           shipping_address, shipping_phone, shipping_name, 
                           payment_method, notes)
        VALUES (@UserId, @OrderCode, @TotalAmount, @TotalAmount,
                @ShippingAddress, @ShippingPhone, @ShippingName,
                @PaymentMethod, @Notes);
        
        SET @OrderId = SCOPE_IDENTITY();
        
        -- Copy items từ cart sang order
        INSERT INTO OrderItems (order_id, variant_id, quantity, unit_price, subtotal)
        SELECT @OrderId, ci.variant_id, ci.quantity, pv.price, pv.price * ci.quantity
        FROM CartItems ci
        JOIN ProductVariants pv ON ci.variant_id = pv.variant_id
        WHERE ci.cart_id = @CartId;
        
        -- Cập nhật stock
        UPDATE pv
        SET pv.stock_quantity = pv.stock_quantity - ci.quantity
        FROM ProductVariants pv
        JOIN CartItems ci ON pv.variant_id = ci.variant_id
        WHERE ci.cart_id = @CartId;
        
        -- Lưu lịch sử xuất kho
        INSERT INTO StockMovements (variant_id, movement_type, quantity, reference_type, reference_id, created_by)
        SELECT ci.variant_id, 'out', ci.quantity, 'order', @OrderId, @UserId
        FROM CartItems ci
        WHERE ci.cart_id = @CartId;
        
        -- Xóa cart items
        DELETE FROM CartItems WHERE cart_id = @CartId;
        
        COMMIT TRANSACTION;
        
        SELECT @OrderId AS OrderId, @OrderCode AS OrderCode;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[GetDashboardStatistics]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDashboardStatistics]
    @StartDate DATETIME = NULL,
    @EndDate DATETIME = NULL
AS
BEGIN
    -- Nếu không có ngày, lấy 30 ngày gần nhất
    IF @StartDate IS NULL
        SET @StartDate = DATEADD(DAY, -30, GETDATE());
    IF @EndDate IS NULL
        SET @EndDate = GETDATE();
    
    -- Thống kê tổng quan
    SELECT 
        (SELECT COUNT(*) FROM Orders WHERE created_at BETWEEN @StartDate AND @EndDate) as total_orders,
        (SELECT COUNT(*) FROM Orders WHERE status = 'delivered' AND created_at BETWEEN @StartDate AND @EndDate) as completed_orders,
        (SELECT ISNULL(SUM(final_amount), 0) FROM Orders WHERE status = 'delivered' AND created_at BETWEEN @StartDate AND @EndDate) as total_revenue,
        (SELECT COUNT(*) FROM Users WHERE role = 'customer' AND created_at BETWEEN @StartDate AND @EndDate) as new_customers,
        (SELECT COUNT(*) FROM Products WHERE status = 'active') as active_products,
        (SELECT COUNT(*) FROM ProductVariants WHERE stock_quantity < 10 AND status = 'active') as low_stock_items;
    
    -- Top 5 sản phẩm bán chạy
    SELECT TOP 5
        p.product_id,
        p.product_name,
        b.brand_name,
        SUM(oi.quantity) as total_sold,
        SUM(oi.subtotal) as total_revenue
    FROM OrderItems oi
    JOIN Orders o ON oi.order_id = o.order_id
    JOIN ProductVariants pv ON oi.variant_id = pv.variant_id
    JOIN Products p ON pv.product_id = p.product_id
    JOIN Brands b ON p.brand_id = b.brand_id
    WHERE o.status = 'delivered' 
        AND o.created_at BETWEEN @StartDate AND @EndDate
    GROUP BY p.product_id, p.product_name, b.brand_name
    ORDER BY total_sold DESC;
    
    -- Doanh thu theo ngày (7 ngày gần nhất)
    SELECT 
        CAST(created_at as DATE) as order_date,
        COUNT(*) as order_count,
        SUM(final_amount) as daily_revenue
    FROM Orders
    WHERE status = 'delivered'
        AND created_at >= DATEADD(DAY, -7, GETDATE())
    GROUP BY CAST(created_at as DATE)
    ORDER BY order_date DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetProductWithVariants]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedure lấy sản phẩm với variants
CREATE PROCEDURE [dbo].[GetProductWithVariants]
    @ProductId INT
AS
BEGIN
    -- Lấy thông tin sản phẩm
    SELECT p.*, c.category_name, b.brand_name
    FROM Products p
    JOIN Categories c ON p.category_id = c.category_id
    JOIN Brands b ON p.brand_id = b.brand_id
    WHERE p.product_id = @ProductId;
    
    -- Lấy variants
    SELECT * FROM ProductVariants
    WHERE product_id = @ProductId AND status = 'active';
    
    -- Lấy hình ảnh
    SELECT * FROM ProductImages
    WHERE product_id = @ProductId
    ORDER BY is_primary DESC, sort_order;
END;
GO
/****** Object:  StoredProcedure [dbo].[ProcessChatMessage]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcessChatMessage]
    @SessionId INT,
    @MessageText NVARCHAR(MAX),
    @Intent VARCHAR(100) = NULL,
    @Entities NVARCHAR(MAX) = NULL
AS
BEGIN
    -- Lưu tin nhắn người dùng
    INSERT INTO ChatMessages (session_id, sender_type, message_text, intent, entities)
    VALUES (@SessionId, 'user', @MessageText, @Intent, @Entities);
    
    DECLARE @ResponseText NVARCHAR(MAX);
    DECLARE @ProductResults NVARCHAR(MAX);
    
    -- Xử lý theo intent
    IF @Intent = 'search_product'
    BEGIN
        -- Parse entities JSON để lấy thông tin tìm kiếm
        -- Ví dụ: {"brand": "Nike", "type": "sneaker", "size": "42"}
        
        -- Tìm sản phẩm phù hợp
        SELECT TOP 5
            p.product_id,
            p.product_name,
            b.brand_name,
            MIN(pv.price) as min_price,
            (SELECT TOP 1 image_url FROM ProductImages WHERE product_id = p.product_id AND is_primary = 1) as image_url
        FROM Products p
        JOIN Brands b ON p.brand_id = b.brand_id
        JOIN ProductVariants pv ON p.product_id = pv.product_id
        WHERE p.status = 'active' AND pv.status = 'active'
            -- Thêm điều kiện tìm kiếm dựa trên entities
        GROUP BY p.product_id, p.product_name, b.brand_name
        FOR JSON AUTO;
    END
    
    -- Lưu tin nhắn phản hồi
    INSERT INTO ChatMessages (session_id, sender_type, message_text)
    VALUES (@SessionId, 'bot', @ResponseText);
    
    SELECT @ResponseText as response, @ProductResults as products;
END;
GO
/****** Object:  StoredProcedure [dbo].[SearchProducts]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchProducts]
    @SearchTerm NVARCHAR(200) = NULL,
    @CategoryId INT = NULL,
    @BrandId INT = NULL,
    @MinPrice DECIMAL(10,2) = NULL,
    @MaxPrice DECIMAL(10,2) = NULL,
    @Size VARCHAR(10) = NULL,
    @Color NVARCHAR(50) = NULL,
    @Gender VARCHAR(20) = NULL,
    @PageNumber INT = 1,
    @PageSize INT = 12
AS
BEGIN
    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    
    WITH ProductsFiltered AS (
        SELECT DISTINCT p.*
        FROM Products p
        WHERE p.status = 'active'
            AND (@SearchTerm IS NULL OR 
                 p.product_name LIKE '%' + @SearchTerm + '%' OR
                 p.description LIKE '%' + @SearchTerm + '%')
            AND (@CategoryId IS NULL OR p.category_id = @CategoryId)
            AND (@BrandId IS NULL OR p.brand_id = @BrandId)
            AND (@Gender IS NULL OR p.gender = @Gender)
            AND EXISTS (
                SELECT 1 FROM ProductVariants pv
                WHERE pv.product_id = p.product_id
                    AND pv.status = 'active'
                    AND (@MinPrice IS NULL OR pv.price >= @MinPrice)
                    AND (@MaxPrice IS NULL OR pv.price <= @MaxPrice)
                    AND (@Size IS NULL OR pv.size = @Size)
                    AND (@Color IS NULL OR pv.color = @Color)
            )
    )
    SELECT 
        p.*,
        c.category_name,
        b.brand_name,
        MIN(pv.price) as min_price,
        MAX(pv.price) as max_price,
        (SELECT TOP 1 image_url FROM ProductImages WHERE product_id = p.product_id AND is_primary = 1) as primary_image,
        COUNT(*) OVER() as total_count
    FROM ProductsFiltered p
    JOIN Categories c ON p.category_id = c.category_id
    JOIN Brands b ON p.brand_id = b.brand_id
    JOIN ProductVariants pv ON p.product_id = pv.product_id AND pv.status = 'active'
    GROUP BY p.product_id, p.product_name, p.description, p.base_price, 
             p.category_id, p.brand_id, p.material, p.gender, p.product_type,
             p.status, p.view_count, p.created_at, p.updated_at, p.created_by,
             c.category_name, b.brand_name
    ORDER BY p.created_at DESC
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateOrderStatus]    Script Date: 11/3/2025 4:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateOrderStatus]
    @OrderId INT,
    @NewStatus VARCHAR(50),
    @UserId INT,
    @Notes NVARCHAR(500) = NULL
AS
BEGIN
    BEGIN TRANSACTION;
    
    BEGIN TRY
        DECLARE @OldStatus VARCHAR(50);
        
        -- Lấy trạng thái cũ
        SELECT @OldStatus = status FROM Orders WHERE order_id = @OrderId;
        
        -- Cập nhật trạng thái mới
        UPDATE Orders 
        SET status = @NewStatus,
            updated_at = GETDATE(),
            processed_by = @UserId,
            confirmed_at = CASE WHEN @NewStatus = 'confirmed' THEN GETDATE() ELSE confirmed_at END,
            shipped_at = CASE WHEN @NewStatus = 'shipped' THEN GETDATE() ELSE shipped_at END,
            delivered_at = CASE WHEN @NewStatus = 'delivered' THEN GETDATE() ELSE delivered_at END,
            cancelled_at = CASE WHEN @NewStatus = 'cancelled' THEN GETDATE() ELSE cancelled_at END,
            cancel_reason = CASE WHEN @NewStatus = 'cancelled' THEN @Notes ELSE cancel_reason END
        WHERE order_id = @OrderId;
        
        -- Lưu lịch sử thay đổi
        INSERT INTO OrderStatusHistory (order_id, old_status, new_status, notes, changed_by)
        VALUES (@OrderId, @OldStatus, @NewStatus, @Notes, @UserId);
        
        -- Nếu hủy đơn, hoàn lại stock
        IF @NewStatus = 'cancelled'
        BEGIN
            UPDATE pv
            SET pv.stock_quantity = pv.stock_quantity + oi.quantity
            FROM ProductVariants pv
            JOIN OrderItems oi ON pv.variant_id = oi.variant_id
            WHERE oi.order_id = @OrderId;
            
            -- Lưu lịch sử nhập kho
            INSERT INTO StockMovements (variant_id, movement_type, quantity, reference_type, reference_id, notes, created_by)
            SELECT oi.variant_id, 'in', oi.quantity, 'order_cancel', @OrderId, N'Hoàn kho do hủy đơn', @UserId
            FROM OrderItems oi
            WHERE oi.order_id = @OrderId;
        END
        
        COMMIT TRANSACTION;
        
        SELECT 'Success' as Result;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
USE [master]
GO
